# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/


# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Testing
.coverage
.tox/
.pytest_cache/
htmlcov/

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Logs and databases
*.log
*.sqlite3
*.db
*.pid
*.cache

# Temporary files
*.bak
*.swp
*~
